In [42]:
import pandas as pd
import tabula
import os
from PyPDF2 import PdfReader
import subprocess
import numpy as np

In [2]:
# get all files in a folder
# folder is where data of a give year are stored
folder = './ceap_2022'
file_names = os.listdir(folder)
len(file_names)

506

### Functions

In [68]:
# funcao que retira a palavra vereador do nome e retorna primeiro
# nome e sobrenome
def _shear_names( str_name ):
    
    #strip word vereador: and split first name and last names
    names = str_name.split(" ", 1)[1]
    names = names.split(" ", 1)
    
    return names

def get_specific_line(string, line_number):
    """
    This function returns the specified line from a string separated by new lines.
    If the line number is out of range, it returns None.
    """
    lines = string.split('\n')
    
    if 0 <= line_number < len(lines):
        return lines[line_number]
    else:
        return None
    
def get_name(index, line):
    """
    This function extracts the name of the deputy from the PDF file.
    """
    with open(folder+'/'+file_names[index], 'rb') as file:
        reader = PdfReader(file)
        text = ''
        for page in reader.pages:
            text += page.extract_text()
        return get_specific_line(text, line).split(':')[1]

def open_pdf(index):
    """
    This function opens the PDF file in the default PDF viewer.
    """
    subprocess.Popen(['evince', folder+'/'+file_names[index]])

def has_duplicates(input_list):
    """
    This function checks if a list has repeated elements.
    :param input_list: List of elements to check
    :return: True if there are duplicates, False otherwise
    """
    return len(input_list) != len(set(input_list))

def check_last_row_total(df):
    """
    This function checks if the last row of the dataframe is a total row.
    """
    nan_list = [np.nan, np.nan, np.nan, np.nan, 'TOTAL:']
    df_list = df.iloc[-1].to_list()[0:5]

    if len(nan_list) != len(df_list):
        return False
    for a, b in zip(nan_list, df_list):
        if a is np.nan and b is np.nan:
            continue
        if a != b:
            return False
    return True

### Opens a pdf file from the list

In [ ]:
index = 220
#index 12 de 2021 tem pdf em branco, ceap 2022 done up to 156
try:
    dfs = tabula.read_pdf( folder+'/'+file_names[index], pages='all', pandas_options={'dtype':'str'}) # entrega um Dataframe
    #print(dfs[0])
except Exception:
    print("File doesn't exist")
    dfs = None
#open_pdf(index)
dfs[0]

Got stderr: mar 30, 2025 12:51:34 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
mar 30, 2025 12:51:34 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$),"56.068,56",(%)
0,23.505.231/0001-52,01/12/2022,109026,MANAUS COMERCIO DE,COMBUSTIVEL,"342,74","55.725,82","0,61"
1,23.505.231/0001-52,01/12/2022,109013,MANAUS COMERCIO DE,COMBUSTIVEL,"271,22","55.454,60","0,48"
2,23.505.231/0001-52,02/12/2022,109076,MANAUS COMERCIO DE,COMBUSTIVEL,"448,71","55.005,89","0,80"
3,23.505.231/0001-52,05/12/2022,109213,MANAUS COMERCIO DE,COMBUSTIVEL,"297,27","54.708,62","0,53"
4,23.505.231/0001-52,08/12/2022,109417,MANAUS COMERCIO DE,COMBUSTIVEL,"330,03","54.378,59","0,59"
5,23.505.231/0001-52,10/12/2022,109530,MANAUS COMERCIO DE,COMBUSTIVEL,"292,56","54.086,03","0,52"
6,23.505.231/0001-52,13/12/2022,109697,MANAUS COMERCIO DE,COMBUSTIVEL,"300,00","53.786,03","0,54"
7,23.505.231/0001-52,14/12/2022,109747,MANAUS COMERCIO DE,COMBUSTIVEL,"374,38","53.411,65","0,67"
8,23.505.231/0001-52,15/12/2022,109807,MANAUS COMERCIO DE,COMBUSTIVEL,"350,00","53.061,65","0,62"
9,23.505.231/0001-52,16/12/2022,109880,MANAUS COMERCIO DE,COMBUSTIVEL,"300,00","52.761,65","0,54"
10,09.018.236/0001-20,19/12/2022,240,TIAGO D DO NASCIMENTO,DIVUL. ATIVIDADE PARLAMENTAR,"19.000,00","33.761,65","33,89"
11,025.674.462-90,19/12/2022,20223343627,DIONEA CARREIRA BENAION,ASSESS.CONSUL TECNICA,"10.260,00","23.501,65","18,30"
12,23.776.869/0001-28,19/12/2022,06-2022,ESPLENDOR SERVICOS DE,LOC.VEICULO TERRESTRE FLUVIAL,"8.000,00","15.501,65","14,27"
13,30.546.101/0001-23,19/12/2022,06-22,VITECH SERVICOS DE MONT DE,LOC.VEICULO TERRESTRE FLUVIAL,"8.000,00","7.501,65","14,27"
14,00.319.286/0002-53,20/12/2022,31834,LUIZ MONTEIRO DA COSTA ME,COMBUSTIVEL,"7.500,00","1,65","13,38"

(process:13343): Gtk-WARNING **: 00:51:35.979: Locale not supported by C library.
	Using the fallback 'C' locale.

(evince:13343): Gtk-WARNING **: 00:51:36.045: Theme parsing error: gtk-keys.css:1:0: Failed to import: Error opening file /snap/code/187/usr/share/themes/Default/gtk-3.0/gtk-keys.css: Permission denied
Gtk-Message: 00:51:36.045: Failed to load module "canberra-gtk-module"
Gtk-Message: 00:51:36.047: Failed to load module "canberra-gtk-module"
/home/mcmaquine/snap/code/common/.cache/gio-modules/libdconfsettings.so: cannot open shared object file: Permission denied
Failed to load module: /home/mcmaquine/snap/code/common/.cache/gio-modules/libdconfsettings.so

(evince:13343): Gtk-WARNING **: 00:51:36.374: Could not load a pixbuf from icon theme.
This may indicate that pixbuf loaders or the mime database could not be found.

### Format Data Frame (when Data Documento and Nro.Documento comes in the same column)

In [319]:
lines_above = 9
pd.options.mode.copy_on_write = True
for i, df in enumerate(dfs):
    # armazenar o nome do vereador
    names = get_name(index, 3)
    column_names = ['CNPJ', 'Data Documento', 'Fornecedor', 'Item de Despesa', 'Valor (R$)']
    # procurar a linha que se encontra o titulo CNPJ

        
    df.drop( range(0, lines_above), inplace=True )
    df.drop( df.columns[5:], axis=1, inplace=True )
    df.columns = column_names
    df.insert(2, 'Nro.Documento', '')
    
    df_split = df['Data Documento'].str.split(' ', n=1, expand=True)
    df['Data Documento'] = df_split[0]
    df['Nro.Documento'] = df_split[1]
    #delete last line if it is Total line
    if check_last_row_total(df):
        df   =   df.head( -1 )
    df.insert(0, 'Nome', names )

    dfs[i] = df
dfs[0]

,Nome,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$)
9,ROSIVALDO OLIVEIRA CORDOVIL,02.558.157/0001-62,05/08/2022,2173329417155,TELEFONICA BRASIL S.A.,TELEFONIA MOVEL,"529,99"
10,ROSIVALDO OLIVEIRA CORDOVIL,84.482.876/0001-01,22/08/2022,015/2022,SMG DOS SANTOS ME,LOC.VEICULO TERRESTRE FLUVIAL,"12.250,00"
11,ROSIVALDO OLIVEIRA CORDOVIL,26.284.437/0001-98,22/08/2022,44,RODRIGUES OLIVEIRA,ASSESS.CONSUL TECNICA,"16.000,00"
12,ROSIVALDO OLIVEIRA CORDOVIL,23.029.382/0001-81,24/08/2022,7114,AUTO POSTO UNIﾃグ VII LTDA,COMBUSTIVEL,"9.985,00"

### Format Data Frame (Simple Version)

In [356]:
# all 2021 CEAP files have the same structure
for i, df in enumerate(dfs):
    # armazebnar o nome do vereador
    name = get_name(index, 3)

    # delete last line if it is Total line
    if check_last_row_total(df):
        df   =   df.head( -1 )
    df.drop( df.columns[[6,7]], axis=1, inplace=True)
    df.insert(0, 'Nome', name)

    dfs[i] = df

dfs[0]

,Nome,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$)
0,DAVID VALENTE REIS,23.505.231/0001-52,01/12/2022,109026,MANAUS COMERCIO DE,COMBUSTIVEL,"342,74"
1,DAVID VALENTE REIS,23.505.231/0001-52,01/12/2022,109013,MANAUS COMERCIO DE,COMBUSTIVEL,"271,22"
2,DAVID VALENTE REIS,23.505.231/0001-52,02/12/2022,109076,MANAUS COMERCIO DE,COMBUSTIVEL,"448,71"
3,DAVID VALENTE REIS,23.505.231/0001-52,05/12/2022,109213,MANAUS COMERCIO DE,COMBUSTIVEL,"297,27"
4,DAVID VALENTE REIS,23.505.231/0001-52,08/12/2022,109417,MANAUS COMERCIO DE,COMBUSTIVEL,"330,03"
5,DAVID VALENTE REIS,23.505.231/0001-52,10/12/2022,109530,MANAUS COMERCIO DE,COMBUSTIVEL,"292,56"
6,DAVID VALENTE REIS,23.505.231/0001-52,13/12/2022,109697,MANAUS COMERCIO DE,COMBUSTIVEL,"300,00"
7,DAVID VALENTE REIS,23.505.231/0001-52,14/12/2022,109747,MANAUS COMERCIO DE,COMBUSTIVEL,"374,38"
8,DAVID VALENTE REIS,23.505.231/0001-52,15/12/2022,109807,MANAUS COMERCIO DE,COMBUSTIVEL,"350,00"
9,DAVID VALENTE REIS,23.505.231/0001-52,16/12/2022,109880,MANAUS COMERCIO DE,COMBUSTIVEL,"300,00"
10,DAVID VALENTE REIS,09.018.236/0001-20,19/12/2022,240,TIAGO D DO NASCIMENTO,DIVUL. ATIVIDADE PARLAMENTAR,"19.000,00"
11,DAVID VALENTE REIS,025.674.462-90,19/12/2022,20223343627,DIONEA CARREIRA BENAION,ASSESS.CONSUL TECNICA,"10.260,00"
12,DAVID VALENTE REIS,23.776.869/0001-28,19/12/2022,06-2022,ESPLENDOR SERVICOS DE,LOC.VEICULO TERRESTRE FLUVIAL,"8.000,00"
13,DAVID VALENTE REIS,30.546.101/0001-23,19/12/2022,06-22,VITECH SERVICOS DE MONT DE,LOC.VEICULO TERRESTRE FLUVIAL,"8.000,00"
14,DAVID VALENTE REIS,00.319.286/0002-53,20/12/2022,31834,LUIZ MONTEIRO DA COSTA ME,COMBUSTIVEL,"7.500,00"

### Format DataFrame (Those whith 1 column between Data Documento and Nro.Documento)

In [ ]:
pd.options.mode.copy_on_write = True
for i, df in enumerate(dfs):
    # stores congressman name
    names = get_name(index, 3)
    column_names = ['CNPJ', 'Data Documento', 'Nro.Documento', 'Fornecedor', 'Item de Despesa', 'Valor (R$)']
    
    # delete last line if it is Total line
    if check_last_row_total(df):
        df   =   df.head( -1 )

    # Delete columns between Data Documento and Nro.Documento
    df.drop( df.columns[2], axis=1, inplace=True )
    # Delete everything above first data entry
    df.drop( range(0,5), inplace=True )
    # Delete columns after Valor (R$)
    df.drop( df.columns[6:], axis=1, inplace=True )
    # Rename columns
    df.columns = column_names
    # Insert name
    df.insert(0, 'Nome', names )

    dfs[i] = df
dfs[0]

,Nome,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$)
5,MARCELO AUGUSTO DE EIRA CORREA,21.481.712/0001-40,26/10/2022,015/2022,FOB LOCACAO DE BENS E,LOC.VEICULO TERRESTRE FLUVIAL,"9.800,00"
6,MARCELO AUGUSTO DE EIRA CORREA,05.220.251/0005-29,27/10/2022,1097,CIDADE COMERCIO DE,COMBUSTIVEL,"8.781,83"
7,MARCELO AUGUSTO DE EIRA CORREA,34.685.298/0001-32,28/10/2022,135,Jose Luis Cantuaria dos Reis,ASSESS.CONSUL TECNICA,"12.000,00"

### Format DataFrame (With 2 columns betwen Data Documento and Nro.Documento)

In [261]:
pd.options.mode.copy_on_write = True
for i, df in enumerate(dfs):
    name = get_name(index, 3)
    column_names = ['CNPJ', 'Data Documento', 'Nro.Documento', 'Fornecedor', 'Item de Despesa', 'Valor (R$)']
    df.drop( range(0,5), inplace=True )
    df.drop( df.columns[2:4], axis=1, inplace=True )
    df.drop( df.columns[6:], axis=1, inplace=True )
    df.columns = column_names
    df.insert(0, 'Nome', name)
    df = df.head(-1)

    dfs[i] = df
dfs[0]

,Nome,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$)
5,ANTONIO DE ALMEIDA PEIXOTO FILHO,41838874000108,21/07/2022,15,EVELINN FLORES ASSESSORIA E,ASSESS.CONSUL TECNICA,"4.500,00"
6,ANTONIO DE ALMEIDA PEIXOTO FILHO,23.505.231/0004-03,29/07/2022,3219,POSTO NOSSA SENHORA DE,COMBUSTIVEL,"9.000,00"

### Format DataFrame (those with all columns correct but with a number of lines to be deleted)

In [344]:
lines_above = 9
for i, df in enumerate(dfs):
    # stores congressman name
    names = get_name(index, 3)
    column_names = ['CNPJ', 'Data Documento', 'Nro.Documento', 'Fornecedor', 'Item de Despesa', 'Valor (R$)']
   
    df.drop( range(0, lines_above), inplace=True )
    df.drop( df.columns[6:], axis=1, inplace=True )
    df.columns = column_names

    if check_last_row_total(df):
        df   =   df.head( -1 )

    df.insert(0, 'Nome', names )

    dfs[i] = df
dfs[0]

,Nome,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$)
9,DIEGO ROBERTO AFONSO,11.290.709/0001-95,19/10/2022,003/102,ALGE RENT A CAR,LOC.VEICULO TERRESTRE FLUVIAL,"14.000,00"
10,DIEGO ROBERTO AFONSO,23.029.382/0001-81,19/10/2022,7244,AUTO POSTO UNIﾃグ VII LTDA,COMBUSTIVEL,"10.800,00"
11,DIEGO ROBERTO AFONSO,23.019.465/0001-90,19/10/2022,402,LORENZONI E ALVES,ASSESS.CONSUL TECNICA,"13.000,00"
12,DIEGO ROBERTO AFONSO,84.534.346/0001-60,19/10/2022,459,WAUDECY BATISTA DO,DIVUL. ATIVIDADE PARLAMENTAR,"9.400,00"

### Append to dfs

In [358]:
for df in dfs:
    MasterDF =  pd.concat( [MasterDF, df], ignore_index=True)

### Create Master DF based in the fisrt DataFrame

In [48]:
MasterDF = pd.DataFrame()

for df in dfs:
    MasterDF = pd.concat([MasterDF, df], ignore_index=True)

In [ ]:
backup = MasterDF.copy() # last 93

In [588]:
MasterDF = backup.copy()

### Visualization

In [359]:
#Just visizualize Master DaytaFrame
MasterDF.tail(10)

,Nome,CNPJ,Data Documento,Nro.Documento,Fornecedor,Item de Despesa,Valor (R$)
1023,DAVID VALENTE REIS,23.505.231/0001-52,10/12/2022,109530,MANAUS COMERCIO DE,COMBUSTIVEL,"292,56"
1024,DAVID VALENTE REIS,23.505.231/0001-52,13/12/2022,109697,MANAUS COMERCIO DE,COMBUSTIVEL,"300,00"
1025,DAVID VALENTE REIS,23.505.231/0001-52,14/12/2022,109747,MANAUS COMERCIO DE,COMBUSTIVEL,"374,38"
1026,DAVID VALENTE REIS,23.505.231/0001-52,15/12/2022,109807,MANAUS COMERCIO DE,COMBUSTIVEL,"350,00"
1027,DAVID VALENTE REIS,23.505.231/0001-52,16/12/2022,109880,MANAUS COMERCIO DE,COMBUSTIVEL,"300,00"
1028,DAVID VALENTE REIS,09.018.236/0001-20,19/12/2022,240,TIAGO D DO NASCIMENTO,DIVUL. ATIVIDADE PARLAMENTAR,"19.000,00"
1029,DAVID VALENTE REIS,025.674.462-90,19/12/2022,20223343627,DIONEA CARREIRA BENAION,ASSESS.CONSUL TECNICA,"10.260,00"
1030,DAVID VALENTE REIS,23.776.869/0001-28,19/12/2022,06-2022,ESPLENDOR SERVICOS DE,LOC.VEICULO TERRESTRE FLUVIAL,"8.000,00"
1031,DAVID VALENTE REIS,30.546.101/0001-23,19/12/2022,06-22,VITECH SERVICOS DE MONT DE,LOC.VEICULO TERRESTRE FLUVIAL,"8.000,00"
1032,DAVID VALENTE REIS,00.319.286/0002-53,20/12/2022,31834,LUIZ MONTEIRO DA COSTA ME,COMBUSTIVEL,"7.500,00"

### Manual corrections

In [215]:
# delete last row
MasterDF.drop( MasterDF.index[-1], inplace=True)

In [596]:
MasterDF.drop(MasterDF.columns[[7,8]], axis=1, inplace=True)

In [333]:
MasterDF.loc[len(MasterDF)] = ['DAVID VALENTE REIS',
                               '30.546.101/0001-23',
                            '31/08/2022,',
                            '02-22',
                            'VITECH SERVICOS DE MONT DE',
                            'LOC.VEICULO TERRESTRE FLUVIAL',
                            '8.000,00']

In [341]:
#APENAS OS QUE NAO DECLARARAM GASTOS
MasterDF.loc[len(MasterDF)] = ['AMOM MANDEL LINS FILHO',
                               '00.000.000/0000-00',
                               '01/09/2022',
                               '0',
                               '-',
                               'COMBUSTIVEL',
                               '0,00']

### Save

In [ ]:
# Save DataFrame to a Pickle file (last save was index 220 - 2022)
MasterDF.to_pickle(folder+'.pkl')

### Load

In [4]:
# Load DataFrame from a Pickle file
MasterDF = pd.read_pickle(folder+'.pkl')

### Convert to CSV

In [18]:
MasterDF.to_csv(folder+'.csv', index=False, sep=';')

In [7]:
result = MasterDF.query('Nome.str.contains("JOﾃグ CARLOS DOS SANTOS MELO")', engine='python')
print( result )

                            Nome                CNPJ Data Documento  \
705  JOﾃグ CARLOS DOS SANTOS MELO  23.586.479/0001-95     30/01/2021

    Nro.Documento                  Fornecedor                Item de Despesa  \
705           540  DS CAR ALUGUEL DE CARROS E  LOC.VEICULO TERRESTRE FLUVIAL

    Valor (R$)
705   3.000,00

In [8]:
result = MasterDF.loc[MasterDF['Nome'] == 'JOﾃグ CARLOS DOS SANTOS MELLO']
print( result )

                              Nome                CNPJ Data Documento  \
277   JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/08/2021
278   JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     18/08/2021
279   JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     19/08/2021
280   JOﾃグ CARLOS DOS SANTOS MELLO  37.212.905/0001-35     20/08/2021
281   JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     24/08/2021
282   JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     27/08/2021
349   JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/03/2021
350   JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     25/03/2021
351   JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     27/03/2021
352   JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     27/03/2021
353   JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     27/03/2021
354   JOﾃグ CARLOS DOS SANTOS MELLO  23.586.479/0001-95     29/03/2021
705   JOﾃグ CARLOS DOS SANTOS MELLO  23.586.479/0001-95     30/01/2021
733   JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     10/12/2021
734   JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     10/12/2021
735   JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/12/2021
736   JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     20/12/2021
737   JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     20/12/2021
822   JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/02/2021
823   JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     26/02/2021
824   JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     26/02/2021
825   JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     26/02/2021
826   JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     26/02/2021
827   JOﾃグ CARLOS DOS SANTOS MELLO  23.586.479/0001-95     28/02/2021
868   JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/10/2021
869   JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     20/10/2021
870   JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     20/10/2021
871   JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     20/10/2021
872   JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     26/10/2021
873   JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     26/10/2021
878   JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/05/2021
879   JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     17/05/2021
880   JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     17/05/2021
881   JOﾃグ CARLOS DOS SANTOS MELLO  23.586.479/0001-95     20/05/2021
882   JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     21/05/2021
883   JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     24/05/2021
884   JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     24/05/2021
1153  JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/04/2021
1154  JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     20/04/2021
1155  JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     22/04/2021
1156  JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     22/04/2021
1157  JOﾃグ CARLOS DOS SANTOS MELLO  23.586.479/0001-95     27/04/2021
1158  JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     28/04/2021
1195  JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/07/2021
1196  JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     20/07/2021
1197  JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     20/07/2021
1198  JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     21/07/2021
1199  JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     22/07/2021
1200  JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     26/07/2021
1238  JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     19/11/2021
1239  JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     19/11/2021
1240  JOﾃグ CARLOS DOS SANTOS MELLO  10.583.553/0002-59     26/11/2021
1241  JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     29/11/2021
1261  JOﾃグ CARLOS DOS SANTOS MELLO  02.558.157/0001-62     10/06/2021
1262  JOﾃグ CARLOS DOS SANTOS MELLO  24.681.257/0001-14     16/06/2021
1263  JOﾃグ CARLOS DOS SANTOS MELLO  32.479.604/0001-59     16/06/2021
1264  JOﾃグ CARLOS DOS SANTOS MELLO  37.212.905/0001-35     16/06/2021
1265  JOﾃグ CARLOS DOS SANTOS MELLO      603.161.012-49     18/06/2021
1266  JOﾃグ CARLOS DOS SANTOS MELLO  23.586.479/0001-95     21/06/2021
1267  JOﾃグ CARLOS DOS SANTOS MELLO  10.353.166/0001-45     22/06/2021

       Nro.Documento                     Fornecedor  \
277   00000112032136         TELEFONICA BRASIL S.A.
278              215           TW PETROLEO COMERCIO
279      20213208185  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
280              185             TW PETROLEO TARUMA
281              941    MORIA IMPRESSAO DE MATERIAL
282              355       MM GESTﾃグ DE INSTALAﾃﾃ髭S
349   00001120321365         TELEFONICA BRASIL S.A.
350      20213169030  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
351               80           TW PETROLEO COMERCIO
352              198           TW PETROLEO REDENﾃﾃグ
353              836    MORIA IMPRESSAO DE MATERIAL
354              547     DS CAR ALUGUEL DE CARROS E
705              540     DS CAR ALUGUEL DE CARROS E
733      20213241145  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
734              365           TW PETROLEO COMERCIO
735   11203213640000         TELEFONICA BRASIL S.A.
736              411       MM GESTﾃグ DE INSTALAﾃﾃ髭S
737              410       MM GESTﾃグ DE INSTALAﾃﾃ髭S
822   00001120321364         TELEFONICA BRASIL S.A.
823      20213162444  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
824              822    MORIA IMPRESSAO DE MATERIAL
825              168           TW PETROLEO REDENﾃﾃグ
826               44           TW PETROLEO COMERCIO
827              543     DS CAR ALUGUEL DE CARROS E
868     112032136400         TELEFONICA BRASIL S.A.
869              368           TW PETROLEO REDENﾃﾃグ
870              993    MORIA IMPRESSAO DE MATERIAL
871      20213225450  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
872              402       MM GESTﾃグ DE INSTALAﾃﾃ髭S
873              403       MM GESTﾃグ DE INSTALAﾃﾃ髭S
878      01120321364         TELEFONICA BRASIL S.A.
879              125           TW PETROLEO COMERCIO
880              265           TW PETROLEO REDENﾃﾃグ
881              560     DS CAR ALUGUEL DE CARROS E
882      20213183998  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
883              874    MORIA IMPRESSAO DE MATERIAL
884              276       MM GESTﾃグ DE INSTALAﾃﾃ髭S
1153      1120321364         TELEFONICA BRASIL S.A.
1154     20213175689  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
1155              92           TW PETROLEO COMERCIO
1156             225           TW PETROLEO REDENﾃﾃグ
1157             553     DS CAR ALUGUEL DE CARROS E
1158             858    MORIA IMPRESSAO DE MATERIAL
1195   0001120321364         TELEFONICA BRASIL S.A.
1196             181           TW PETROLEO COMERCIO
1197             317           TW PETROLEO REDENﾃﾃグ
1198     20213199795  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
1199             922    MORIA IMPRESSAO DE MATERIAL
1200             328       MM GESTﾃグ DE INSTALAﾃﾃ髭S
1238             332           TW PETROLEO COMERCIO
1239     20213233764  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
1240             406       MM GESTﾃグ DE INSTALAﾃﾃ髭S
1241            1051    MORIA IMPRESSAO DE MATERIAL
1261    001120321364         TELEFONICA BRASIL S.A.
1262             290           TW PETROLEO REDENﾃﾃグ
1263             147           TW PETROLEO COMERCIO
1264              93             TW PETROLEO TARUMA
1265     20213191533  Rita de Cﾃ｡ssia Riﾃｧa de Araujo
1266             567     DS CAR ALUGUEL DE CARROS E
1267             895    MORIA IMPRESSAO DE MATERIAL

                    Item de Despesa Valor (R$)
277                 TELEFONIA MOVEL     970,27
278                     COMBUSTIVEL   1.834,78
279           ASSESS.CONSUL TECNICA   7.500,00
280                     COMBUSTIVEL   1.816,28
281    DIVUL. ATIVIDADE PARLAMENTAR   2.700,00
282   LOC.VEICULO TERRESTRE FLUVIAL   3.190,00
349                 TELEFONIA MOVEL     529,99
350           ASSESS.CONSUL TECNICA   7.500,00
351                     COMBUSTIVEL   1.060,26
352                     COMBUSTIVEL   2.552,14
353    DIVUL. ATIVIDADE PARLAMENTAR   8.499,00
354   LOC.VEICULO TERRESTRE FLUVIAL   3.000,00
705   LOC.VEICULO TERRESTRE FLUVIAL   3.000,00
733           ASSESS.CONSUL TECNICA   7.500,00
734                     COMBUSTIVEL   2.779,05
735                 TELEFONIA MOVEL   1.106,90
736   LOC.VEICULO TERRESTRE FLUVIAL   3.038,00
737   LOC.VEICULO TERRESTRE FLUVIAL   3.190,00
822                 TELEFONIA MOVEL     547,64
823           ASSESS.CONSUL TECNICA   7.500,00
824    DIVUL. ATIVIDADE PARLAMENTAR   4.010,00
825                     COMBUSTIVEL     888,22
826                     COMBUSTIVEL   1.496,50
827   LOC.VEICULO TERRESTRE FLUVIAL   3.000,00
868                 TELEFONIA MOVEL     970,28
869                     COMBUSTIVEL   1.585,00
870    DIVUL. ATIVIDADE PARLAMENTAR   2.500,00
871           ASSESS.CONSUL TECNICA   7.500,00
872   LOC.VEICULO TERRESTRE FLUVIAL   3.190,00
873   LOC.VEICULO TERRESTRE FLUVIAL   2.254,00
878                 TELEFONIA MOVEL     934,66
879                     COMBUSTIVEL   2.014,07
880                     COMBUSTIVEL   1.068,37
881   LOC.VEICULO TERRESTRE FLUVIAL   3.000,00
882           ASSESS.CONSUL TECNICA   7.500,00
883    DIVUL. ATIVIDADE PARLAMENTAR   5.300,00
884   LOC.VEICULO TERRESTRE FLUVIAL   2.551,99
1153                TELEFONIA MOVEL     548,52
1154          ASSESS.CONSUL TECNICA   7.500,00
1155                    COMBUSTIVEL   2.142,81
1156                    COMBUSTIVEL   2.132,21
1157  LOC.VEICULO TERRESTRE FLUVIAL   3.000,00
1158   DIVUL. ATIVIDADE PARLAMENTAR   6.200,00
1195                TELEFONIA MOVEL     991,44
1196                    COMBUSTIVEL   1.330,14
1197                    COMBUSTIVEL   2.579,19
1198          ASSESS.CONSUL TECNICA   7.500,00
1199   DIVUL. ATIVIDADE PARLAMENTAR   2.800,00
1200  LOC.VEICULO TERRESTRE FLUVIAL   3.190,00
1238                    COMBUSTIVEL   5.056,00
1239          ASSESS.CONSUL TECNICA   7.500,00
1240  LOC.VEICULO TERRESTRE FLUVIAL   2.940,00
1241   DIVUL. ATIVIDADE PARLAMENTAR   2.500,00
1261                TELEFONIA MOVEL     978,06
1262                    COMBUSTIVEL   2.579,87
1263                    COMBUSTIVEL     500,15
1264                    COMBUSTIVEL     495,76
1265          ASSESS.CONSUL TECNICA   7.500,00
1266  LOC.VEICULO TERRESTRE FLUVIAL   3.000,00
1267   DIVUL. ATIVIDADE PARLAMENTAR   5.000,00

In [5]:
print( MasterDF.columns )

Index(['Nome', 'CNPJ', 'Data Documento', 'Nro.Documento', 'Fornecedor',
       'Item de Despesa', 'Valor (R$)'],
      dtype='object')

In [10]:
array = MasterDF.loc[705].values
print( array )

['JOﾃグ CARLOS DOS SANTOS MELLO' '23.586.479/0001-95' '30/01/2021' '540'
 'DS CAR ALUGUEL DE CARROS E' 'LOC.VEICULO TERRESTRE FLUVIAL' '3.000,00']